<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/">
      Quilombos
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto gap-lg-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/quilombos">Quilombos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/historias">Histórias</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link btn btn-warning text-dark px-3"
            routerLink="/contato"
          >
            Contato
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
