<section class="quilombos-section container">
  <h2 class="section-title text-center">Quilombos do Sertão</h2>
  <p class="section-subtitle text-center">
    Conheça histórias de resistência, cultura e identidade
  </p>

  <div class="row mt-5 g-4">
    <div class="col-md-4" *ngFor="let quilombo of quilombos">
      <div class="quilombo-card" (click)="irPara(quilombo.rota)">
        <div
          class="card-image"
          [style.backgroundImage]="'url(' + quilombo.imagem + ')'"
        ></div>

        <div class="card-content">
          <h3>{{ quilombo.nome }}</h3>
          <p>{{ quilombo.descricao }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
